*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainlogo{
  font-style: italic ;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  /* color: black !important; */
}